* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* default browser px : 16px */
    /* 1rem = 16px */
    /* 1rem = 10px */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f4f4f4;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1200px;
}

.column {
    padding: 2rem;
}

.image-column img {
    width: 100%;
    height: auto;
}

.image-column {
    flex-grow: 1;
    flex-basis: 30rem;
    background-color: blanchedalmond;
    position: relative;
}

.text-column {
    flex-grow: 2;
    flex-basis: 50rem;
    background-color: burlywood;
    font-size: 2rem;
}

.overlay {
    position: absolute;
    bottom: 24px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 2rem;
}

.btn {
    display: inline-block;
    background-color: black;
    font-weight: 700;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    /* padding: 1em 2em; */
    padding: 1rem 2rem;
}

.btn-small {
    font-size: 0.5em;
}
