.pokemon-search {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
}
